@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Noto Serif', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

html {
    scroll-behavior: smooth;
}

h1,
.rightNav ul li a,
.rightFooter p {
    font-family: 'Jeju Gothic', sans-serif;
}